/* 
 * Starter styles for the product listing challenge
 * Implement your design based on the Figma specifications
 */

/* Reset and base styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400,700;1,400,700&display=swap');

:root {
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--back);
    background-color: #fff;
}

section {
    padding: 112px 0;
}

img {
    max-width: 100%;
}

/* Container */
.container {
    width: min(1312px, calc(100% - 40px));
    margin: 0 auto;
}

/* Header */
.header {
    border-bottom: 1px solid #e9ecef;
    padding: 20px 0;
}


/* Utilities */
.flexbox {
    display: flex;
    gap: 48px;
    justify-content: space-between;
}

.centered {
    text-align: center;
}
.centered :is(.section-header-headline, .section-header-copy) {
    margin-left: auto;
    margin-right: auto;
}


/* Typography */
.h1, .h2, .h3, .h4 {
    font-weight: 700;
}

.h1 {
    font-size: 54px;
    line-height: 1.2;
}

.h2 {
    font-size: 48px;
    line-height: 1.2;
}

.h3 {
    font-size: 24px;
}

.h4 {
    font-size: 18px;
}

/* Button and Links */

.btn {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid var(--black);
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .2s ease;
}
.btn:hover {
    background-color: var(--black);
    color: #fff;
    text-decoration: none;
}

.arrow-right {
    text-decoration: none;
}

.arrow-right:after {
    content: url(../images/caret-right.svg);
    display: inline-block;
    margin-left: 8px;
    transition: transform .2s ease;
}

.arrow-right:hover:after {
    transform: translateX(4px);
}

.load-more {
    margin-top: 80px;
}

/* Section Header */
.section-header-headline {
    max-width: 768px;
}
.section-header-copy {
    max-width: 870px;
    font-size: 18px;
}
.section-header-copy,
.section-header-cta {
    margin-top: 32px;
}

/* FAQs Accordion */

.faqs-accordion {
    flex: 1 0 732px;
    max-width: 60%;
}

.faq {
    border-bottom: 1px solid var(--black);
}

.faq:first-of-type {
    border-top: 1px solid var(--black);
}

.faq-question {
    /* Unset button styles */
    appearance: none;
    border: none;
    width: 100%;
    text-align: left;
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
}
.faq-question .toggle {
    pointer-events: none;
}

.faq-question .toggle::before {
    content: url(../images/caret.svg);
    display: block;
    transition: rotate .2s ease;
}

.faq-answer {
    padding-bottom: 24px;
    transition: margin-top .2s ease;
}

.drawer {
    overflow: hidden;
}

.faq-question.collapse .toggle:before {
    rotate: 180deg;
}

.faq-question.collapse + .drawer .faq-answer {
    margin-top: -100%;
}

/* Product Grid */

.product-grid {
    margin-top: 80px;
    display: grid;
    gap: 48px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.product-card {
    opacity: 0;
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
    animation: fadeUp 1s forwards normal ease;
}

.product-card .copy-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 32px 18px 0 18px;
}

.product-detail {
    margin: 16px 0;
}

.product-link {
    margin-top: auto;
}

.product-card.hidden {
    display: none;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}


/* Responsive design */
@media (max-width: 1100px) {
    .product-grid {
        max-width: 405px;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    section {
        padding: 64px 0;
    }
    .h1 {
        font-size: 48px;
    }
    .h2 {
        font-size: 36px;
    }
    .section-header-copy {
        margin-top: 20px;
        font-size: 16px;
    }
    .section-header-cta {
        margin-top: 24px;
    }
    .flexbox {
        flex-direction: column;
    }
    .faqs-accordion {
        max-width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* Add tablet styles here */
}

@media (min-width: 1025px) {
    /* Add desktop styles here */
}
